#movies img, #movie img {
  width: 100%; }

@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px; }

  #movies .col-md-3 img {
    height: 240px; } }
/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
  margin: 0 auto;
  width: 1000px; }

/* The width of each slide */
.slick-slide {
  width: 350px; }

/* Color of the arrows */
.slick-next::before, .slick-prev::before {
  color: blue; }

/*# sourceMappingURL=style.css.map */
